@{
    ViewData["Title"] = "Home Page";
}


<div class="jumbotron">
    <h1 style="color:white;">"A reader lives a thousand lives before he dies."</h1>
    <h2 style="color:white;"> George R.R. Martin</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Editors choice</h2>
        <p>Check out the latest and greatest stories hand-picked by our team!</p>
        <p><a class="btn btn-outline-dark" href="#">Read &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Rising stars</h2>
        <p>Find the top 10 newest storys and discover what's trendng.  </p>
        <p><a class="btn btn-outline-dark" href="#">Read &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Must read</h2>
        <p>Unmissable storys that everyone should read. The best of the best.</p>
        <p><a class="btn btn-outline-dark" href="#">Read &raquo;</a></p>
    </div>
</div>